.stars-outer {
  display: inline-block;
  position: relative;
}
.stars-outer:before {
  content: '☆☆☆☆☆';
  font-size: 100%;
  color: #ccc;
  vertical-align: inherit;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner:before {
  content: '★★★★★';
  color: red;
  font-size: 100%;
  vertical-align: inherit;
}

.stars-5:before {
  color: red;
}
.stars-4:before {
  color: red;
}
.stars-3:before {
  color: #f3cf6f;
}
.stars-2:before {
  color: #f3bd8c;
}
.stars-1:before {
  color: #f6baa2;
}
